<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="layout/layout_karyawan">
<div layout:fragment="content">
    <div class="container">
        <center>
            <h1>DAFTAR PEMINJAMAN</h1>
            <hr/>
        </center>
        <div class="row">
            <div class="col">
                <table id="table" class="table table-striped">
                    <thead>
                    <tr>
                        <td>No</td>
                        <td>NPK</td>
                        <td>Tanggal Pinjam</td>
                        <td>Tanggal Kembali</td>
                        <td>Status</td>
                        <td>Denda</td>
                        <td>Aksi</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item, iter: ${listPeminjaman}">
                        <td><span th:text="${iter.count}"></span></td>
                        <td th:text="${item.NPK}"></td>
                        <td th:text="${item.tglPeminjaman}"></td>
                        <td th:text="${item.tglPengembalian}"></td>
                        <td>
                            <div th:switch="${item.status}">
                                <span th:case="0" >Menunggu</span>
                                <span th:case="1" >Disetujui</span>
                            </div>
                        </td>
                        <td th:text="${item.denda}"></td>
                        <td >
                            <div class="row">
                                <div class="col">
                                    <a th:href="'/Get-detail?id=' + ${item.idPeminjaman}" class="btn btn-info form-control">Detail</a>
                                    <a th:href="@{Peminjaman_Update/{id}(id=${item.idPeminjaman})}" class="btn btn-primary form-control">Setujui</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</html>