<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="layout/layout_admin">
<div layout:fragment="content">
    <div class="container">
        <center>
            <h1>TAMBAH KARYAWAN</h1>
            <hr/>
        </center>
        <br/>
        <div class="row">
            <div class="col">
                <form th:action="@{addKaryawan}" method="post">
                    <div class="row">
                        <div class="col">
                            <label>Nama Karyawan <span style="color: red">*</span> </label>
                            <input class="form form-control" type="text" name="NamaKaryawan" id="NamaKaryawan" required>
                            <br/>

                            <label>Jenis Kelamin <span style="color: #ff0000">*</span> </label>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="JenisKelamin" id="JenisKelamin" value="1" checked/>
                                    Laki - laki
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="JenisKelamin" id="JenisKelamin2" value="0" checked/>
                                    Perempuan
                                </label>
                            </div>
                            <br/>

                            <label>Tanggal Lahir <span style="color: red"></span> </label>
                            <input class="form form-control" type="date" name="TanggalLahir" id="TanggalLahir" >
                            <br/>

                            <label>Alamat <span style="color: red">*</span> </label>
                            <input class="form form-control" type="text" name="Alamat" id="Alamat" required>
                            <br/>

                            <label>Email <span style="color: red">*</span> </label>
                            <input class="form form-control" type="text" name="Email" id="Email" required>
                            <br/>

                            <label>No Telepon <span style="color: red">*</span> </label>
                            <input class="form form-control" type="number" name="NoTelepon" id="NoTelepon" required>
                            <br/>

                            <label>Role <span style="color: red">*</span> </label>
                            <select class="form-control" name="IdRole" id="ddlIdRole">
                                <option value=""> -Pilih Role- </option>
                                <option th:each="item : ${ddlRole}"
                                        th:value="${item.idRole}"
                                        th:utext="${item.namaRole}"/>
                            </select>
                            <br/>

                            <label>Seksi <span style="color: red">*</span> </label>
                            <select class="form-control" name="IdSeksi" id="ddlIdSeksi">
                                <option value=""> -Pilih Seksi- </option>
                                <option th:each="item : ${ddlSeksi}"
                                        th:value="${item.idSeksi}"
                                        th:utext="${item.namaSeksi}"/>
                            </select>
                            <br/>

                            <label>Password <span style="color: red">*</span> </label>
                            <input class="form form-control" type="text" name="Password" id="Password" required>
                            <br/>

                            <label>Foto <span style="color: red"></span> </label>
                            <input class="form form-control" type="text" name="Foto" id="Foto">
                            <br/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <a class="btn btn-outline-secondary" th:href="@{'Karyawan?NPK='+${NPK}}">Kembali</a>&#32
                            <button class="btn btn-outline-primary">Simpan</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</html>
