<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Title</title>
</head>
<body>
    <a href="/Role">Role</a>
    <a href="/Seksi">Seksi</a>
    <a href="/JenisBank">Jenis Bank</a>
    <a href="/JenisBarang">Jenis Barang</a>
    <a href="/Karyawan">Karyawan</a>
    <a href="/Vendor">Vendor</a>
    <a href="/BarangPerusahaan">Barang Perusahaan</a>
    <a href="/BarangVendor">Barang Vendor</a>
    <a href="/Peminjaman">Peminjaman</a>
</body>
</html>