<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="layout/layout_admin">
<div layout:fragment="content">
    <div class="container">
        <center>
            <h1>TAMBAH DATA SEKSI</h1>
            <hr/>
        </center>
        <br/>
        <div class="row">
            <div class="col">
                <form th:action="@{addSeksi}" th:object="${Seksi}" method="post" enctype="multipart/form-data" >
                    <div class="row">
                        <div class="col">
                            <label for="NamaSeksi">Nama Seksi <span style="color: red">*</span> </label>
                            <input class="form form-control" type="text" name="NamaSeksi" id="NamaSeksi"  required>
                        </div>
                        <div class="col">
                            <label for="Keterangan">Keterangan <span style="color: red"></span> </label>
                            <input class="form form-control" type="text" name="Keterangan" id="Keterangan">
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col">
                            <a class="btn btn-outline-secondary" href="/Seksi">Kembali</a>&#32
                            <button class="btn btn-outline-primary">Simpan</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</html>
