<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="layout/layout_ga">
<div layout:fragment="content">
    <div class="container">
        <center>
            <h1>EDIT DATA JENIS BARANG</h1>
            <hr/>
        </center>
        <br/>
        <div class="row">
            <div class="col">
                <form th:action="@{editJenisBarang/{id}(id=${jenisbarang.idJenisBarang})}" th:object="${jenisbarang}" method="post" enctype="multipart/form-data" >
                    <div class="row">
                        <div class="col">
                            <input type="hidden" name="idSeksi" th:value="*{idJenisBarang}">
                            <label for="NamaJenisBarang">Nama Barang <span style="color: red">*</span> </label>
                            <input class="form form-control" type="text" name="NamaJenisBarang" id="NamaJenisBarang" th:field="*{namaBarang}" required>
                            <label for="Keterangan">Keterangan <span style="color: red">*</span> </label>
                            <input class="form form-control" type="text" name="Keterangan" id="Keterangan" th:field="*{keterangan}">
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col">
                            <a class="btn btn-outline-secondary" href="/JenisBarang">Kembali</a>&#32
                            <button class="btn btn-outline-primary">Simpan</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</html>
