<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="layout/layout_karyawan">
<div layout:fragment="content">
    <div class="container">
        <center>
            <h1>TAMBAH BARANG DETAIL PEMINJAMAN</h1>
            <hr/>
        </center>
        <br/>
        <div class="row">
            <div class="col">
                <table id="table" class="table table-striped">
                    <thead>
                    <tr>
                        <td>No</td>
                        <td>Nama Barang</td>
                        <td>Jenis Barang</td>
                        <td>Stok</td>
                        <td>Harga</td>
                        <td>Aksi</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item, iter: ${listBarang}">
                        <td><span th:text="${iter.count}"></span></td>
                        <td th:text="${item.namaBarangP}"></td>
                        <td th:text="${item.jenisBarangList.namaBarang}"></td>
                        <td th:text="${item.stok}"></td>
                        <td th:text="${item.harga}"></td>
                        <td >
                            <div class="row">
                                <div class="col">
                                    <form action="/Post-tambah-barang" method="post">
                                        <input type="hidden" name="idPeminjaman" th:value="${idPeminjaman}">
                                        <input type="hidden" name="idBarang" th:value="${item.idBarangP}">
                                        <button class="btn btn-info form-control">Tambah</button>
                                    </form>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div layout:fragment="script">
    <!-------------------------------------------------------- SCRIPT  -->
    <script>
        $(document).ready(function() {
            $('.table').DataTable();
        } );
    </script>
    <!------------------------------------------------------------------->
</div>
</html>