<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DAFTAR DETAIL PEMINJAMAN</title>
    <!--    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--    <link rel="stylesheet" href="../../static/css/bootstrap.css">-->

</head>
<body>
<br/><br/>
<div class="container">
    <center>
        <h1>DAFTAR DETAIL PEMINJAMAN</h1>
        <hr/>
    </center>
    <div class="row">
        <div class="col">
            <a th:href="'/Tambah-barang-detail?id=' + ${idPeminjaman}" class="btn btn-danger form-control">Tambah detail</a>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col">
            <table id="table" class="table table-striped">
                <thead>
                <tr>
                    <td>No</td>
                    <td>Nama barang</td>
                    <td>Jumlah peminjaman</td>
                    <td>Aksi</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item, iter: ${listDetail}">
                    <td><span th:text="${iter.count}"></span></td>
                    <td th:each="barang : ${listBarang}" th:if="${barang.idBarangP == item.idBarangP}" th:text="${barang.namaBarangP}"></td>
                    <td th:text="${item.kuantitas}"></td>
                    <td >
                        <div class="row">
                            <div class="col">
                                <a th:href="'/Edit-barang-detail?id=' + ${item.idDetailP}" class="btn btn-info form-control">Edit</a>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-outline-secondary">
                Kembali
            </button>
        </div>
    </div>
</div>
<br/><br/><br/>
</body>
</html>