<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="layout/layout_admin">

<div layout:fragment="content">
    <div class="container">
        <center>
            <h1>DAFTAR ROLE</h1>
            <hr/>
        </center>
        <div class="row">
            <div class="col">
                <a href="/Role-add" class="btn btn-outline-primary">Tambah</a>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col">
                <table id="table" class="table table-striped">
                    <thead>
                    <tr>
                        <td>No</td>
                        <td>Id Role</td>
                        <td>Nama Role</td>
                        <td>Aksi</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item, iter: ${listRole}">
                        <td><span th:text="${iter.count}"></span></td>
                        <td th:text="${item.idRole}"></td>
                        <td th:text="${item.namaRole}"></td>
                        <td >
                            <div class="row">
                                <div class="col">
                                    <a th:href="@{'Role-edit?id_role='+${item.idRole}}" class="btn btn-info form-control">Edit</a>
                                </div>
                                <div class="col">
                                    <a th:if="${item.rowStatus == 1}" th:href="@{deleteRole/{id}(id=${item.idRole})}" class="btn btn-danger form-control"  onclick="return confirm('Tekan OK untuk menghapus')">Hapus</a>
                                    <a th:if="${item.rowStatus == 0}" th:href="@{deleteRole/{id}(id=${item.idRole})}" class="btn btn-primary form-control" th:disabled="true">Muncul</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div layout:fragment="script">
    <!-------------------------------------------------------- SCRIPT  -->
    <script>
        $(document).ready(function() {
            $('.table').DataTable();
        } );
    </script>
    <!------------------------------------------------------------------->
</div>